<div class="row">
    <div class="col-md-8">
        <div class="media">
        <br />
        
        <% avatar_url = @user.avatar_url(128) %>
        <% if avatar_url %>
            <div class="media-left">
            
            <%= image_tag avatar_url, class: 'media-object' %>
            </div>
        <% end %>
        <div class="media-body">
            <h2 class="media-heading"><%= @user.name %></h2>
            <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
            </small>
        </div>
        </div>
    </div>
</div>



<% if detectExistence(current_user.posts) == true %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% else %>
    <h2><%= "#{current_user.name} has not submitted any posts yet" %></h2>
<% end %>

<% if detectExistence(current_user.comments) == true %>
    <h2>Comments</h2>
    <%= render @user.comments %>
<% else %>
    <h2><%= "#{current_user.name} has not submitted any comments yet" %></h2>
<% end %>

<% if detectExistence(current_user.favorites) == true %>
    <div class="media-left">
    <h2>Favorites</h2>
    <% current_user.favorites.each do |favorite| %>
        <%= image_tag favorite.post.user.avatar_url(100) %><%= p favorite.post.title %>
        <p>Votes:</p><%= favorite.post.votes.count %>
        <p>Comments:</p><%= favorite.post.comments.count %>
    <% end %>
<% else %>
    <h2><%= "#{current_user.name} has not submitted any favorites yet" %></h2>
<% end %>
</div>

